version: "3.8"

services:
  db:
    image: mysql:8.4
    container_name: ehd_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ehd_database
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./server/config/ehd_database.sql:/docker-entrypoint-initdb.d/ehd_database.sql
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-prootpassword",
        ]
      timeout: 10s
      retries: 10
      interval: 5s
      start_period: 10s
    restart: unless-stopped

  backend:
    build: ./server
    container_name: ehd_backend
    env_file:
      - ./server/.env
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

  frontend:
    build: ./attendance-monitoring-app
    container_name: ehd_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ehd_phpmyadmin
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "8081:80"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  dbdata:
