:root {
  --primary-blue: #007bff;
  --secondary-green: #28a745;
  --tertiary-yellow: #e49b0f;
  --danger-red: #dc3545;
  --background: #ffffff;
  --cards: #faf9f6;
  --borders: #dddddd;
  --text-primary: #212529;
  --text-secondary: #6c757d;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}
[data-theme="dark"] {
  --primary-blue: #007bff;
  --secondary-green: #28a745;
  --tertiary-yellow: #e49b0f;
  --danger-red: #dc3545;
  --background: #121212;
  --cards: #1e1e1e;
  --borders: #333333;
  --text-primary: #ffffff;
  --text-secondary: #b0bec5;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}
body {
  background-color: var(--background);
  color: var(--text-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
input,
select,
textarea {
  outline: none;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--borders);
  background-color: var(--cards);
  color: var(--text-primary);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
input:not([type="radio"]):hover,
select:focus,
textarea:focus {
  border: 1px solid var(--text-secondary);
  box-shadow: 0 0 4px rgba(109, 118, 126, 0.8);
}
input:not([type="radio"]):hover,
select:hover,
textarea:hover {
  box-shadow: 0 0 4px rgba(109, 118, 126, 0.8);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  cursor: pointer;
}
