.etmr {
  width: 100%;
}
.etmr-container {
  width: 100%;
  display: flex;
}
.etmr-content {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
}
.page-title {
  font-family: var(--font-primary);
  color: var(--primary-blue);
}
