.calendar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.react-calendar {
  width: 100% !important;
  border: none !important;
  border-radius: 8px !important;
}
.present {
  background: var(--primary-blue) !important;
  font-weight: bold;
}
