.sidebar {
  width: 30vh;
  height: 100vh;
  background-color: var(--cards);
  position: fixed;
  transition: 0.3s ease-in-out;
  border-right: 1px solid var(--borders);
  padding-top: 5rem;
  z-index: 10;
}
.closed {
  transform: translateX(-100%);
}
.open {
  transform: translateX(0);
}
.navigation-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.label-title {
  font-family: var(--font-primary);
  color: var(--text-primary);
  font-size: 50px;
}
.label-sub-title {
  font-family: var(--font-secondary);
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: normal;
}
.label-links-container {
  width: 100%;
  height: fit-content;
}
.label-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.navigation-menu {
  height: 400px;
  overflow-y: auto;
}
.navigation-option-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navigation-option-dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text-secondary);
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.navigation-option {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: var(--text-secondary);
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.navigation-option:hover,
.navigation-option-dropdown:hover {
  background-color: var(--borders);
  cursor: pointer;
  transition: 0.3 ease-in-out;
}
.navigation-option:hover .navigation-link,
.navigation-option-dropdown:hover .navigation-link {
  color: var(--primary-blue);
  transition: 0.3 ease-in-out;
}
.submenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  list-style-type: none;
}
.navigation-link-dropdown {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--text-secondary);
  text-decoration: none;
}
.navigation-link-dropdown:hover {
  color: var(--primary-blue);
}
.active {
  background-color: var(--borders);
}
.active .navigation-link {
  color: var(--primary-blue);
}
.submenu li a.active {
  color: #007bff;
  text-decoration: underline;
}
.navigation-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-family: var(--font-secondary);
  font-size: 18px;
  color: var(--text-secondary);
  text-decoration: none;
}
.navigation-icon {
  width: 25px;
  padding: 2px;
}
.open-menu {
  display: inline-block;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
.closed-menu {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
[data-theme="dark"] .inactive-icon {
  filter: brightness(0) invert(77%) sepia(6%) saturate(245%) hue-rotate(165deg);
}
.active-icon {
  filter: none;
}
.theme-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.theme-icon {
  width: 20px;
  height: 20px;
}
.toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.toggle-switch
  input[type="checkbox"]:checked
  + .toggle-switch-background
  .toggle-switch-handle {
  transform: translateX(40px);
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: #212529;
  box-shadow: inset 0 0 0 2px #6c757d;
}
